body {
    font-family: Arial, sans-serif;
    background-color: rgb(201, 208, 238);
    color: black;
    color: #333;
}

h1 {
    text-align: center;
}

ol, ul {
    position: absolute;
    margin: 20px;
}

img {
    display: block;
    margin: 20px auto;
}

.tableauPlaceholder {
    width: 100%;
    height: 500px;
}
